@import "_normalize.scss"
.container
  width: 100%
  box-sizing: border-box
  min-width: 1280px
  max-width: 1400px
  padding: 0px 32px
  margin: 0 auto
  position: relative

.container__not-relative
  position: static !important

body
  margin: 0px

ul
  margin: 0px
  padding: 0px

h1,h3
  font-family: 'Gilroy'

h2
  font-family: 'Gilroy'
  font-size: 35px
  line-height: 50px

textarea
  font-family: 'Lato',sans-serif
  padding: 10px
  width: 100%
  resize: none
  outline: none

.btn-default
  font-size: 12px
  font-family: 'Gilroy'
  color: #000
  font-weight: 700
  line-height: 22px
  padding: 15px 20px 11px 26px
  background: #fdc500
  letter-spacing: 1px
  text-transform: uppercase
  border: none
  cursor: pointer
.goods-item__img-wrapper img 
  width: 100%

.comments-number,
.views-number 
  font-size: 12px
  color: #999

.registration-type-popup
  width: 890px !important
.btn-dashed
  padding: 10px 55px;
  border: 1px dashed #999;
  display: block;
  text-align: center;
  max-width: 180px;
  box-sizing: border-box;
  margin: 10px 0;
  font-weight: 400;
  border-radius: 0;
  &:hover
    background: #fff
.btn-subscribe
  font-family: 'Gilroy'
  font-size: 12px
  font-weight: 600
  text-transform: uppercase
  display: inline-block
  color: #aaa 
  letter-spacing: 0.72px
  border: 1px solid #e2e2e2
  width: 140px
  height: 30px
  box-sizing: border-box
  text-align: center
  padding-top: 3px
  &:hover
    background: #fdc500
    color: #fff
