.goods-item
  width: 23%
  box-sizing: border-box
  background: #fff
  font-family: 'Lato',sans-serif
  margin-right: 30px
  margin-bottom: 30px
  border: 1px solid #eeeeee
.portfolio__item-list .goods-item
  background: transparent 
  border: none
.portfolio__item-list .goods-item__description
  padding-left: 0
.portfolio__item-list .goods-item__img-wrapper
  margin-bottom: 10px
  height: 181px
.portfolio__item-list .goods-item--preview p
  margin-top: 5px
.portfolio__item-list .goods-item__price-wrapper
  padding: 0
  padding-top: 9px
.goods-item:nth-child(4n)
  margin-right: 0px
.goods-item__description
  padding: 22px 25px 10px 20px
.goods-item .goods-item__description h3
  font-size: 20px
  font-family: 'Lato',sans-serif
  font-weight: 700
  line-height: 22px
  text-align: left
  margin-top: 0px
  margin-bottom: 0px
  background: none
  padding: 0px

.goods-item__description p
  font-family: 'Lato',sans-serif
  font-size: 14px
  line-height: 20px
  color: #333333

.goods-item__price-wrapper
  padding: 20px
  padding-top: 0px
.goods-item__price
  font-family: 'Lato',sans-serif
  font-weight: 700
  font-size: 16px
.goods-item__description-wrapper
  border: 1px solid transparent
  border-top: none
  &:hover
    border: 1px solid #fecb2e
    border-top: none
.goods-item__price-wrapper
  display: flex
  justify-content: space-between
.goods-item__price-wrapper img
  display: inline-block !important
  width: auto !important
.goods-item__basket img
  margin-right: 10px

.goods-item__like
  margin-right: 20px
.goods-item__eye
  margin-right: 7px
.goods-item__comment
  margin-right: 5px
  margin-left: 10px

.goods-item__like,
.goods-item__eye,
.goods-item__comment
  width: 20px 
  fill: #aaaaaa
.goods-item__like:hover,
.goods-item__eye:hover,
.goods-item__comment:hover
  fill: #fecb2e

.goods-item__basket--flex
  display: flex
  align-items: center
  height: 30px

.goods-item--preview
  width: auto
  flex-grow: 1
  max-width: 308px
  box-sizing: border-box
  margin-right: 30px

.goods-item--preview p 
  margin-bottom: 3px

.goods-item__img-data
  position: absolute
  bottom: 0
  left: 0
  display: block
  font-size: 12px
  padding-right: 10px
  padding-top: 7px
  padding-bottom: 7px
  background: #f6f6f6
  color: #000
.goods-item__img-wrapper
  img 
    height: 100%


@media (max-width: 1370px) 
  .redactors-choic__list .search__master-header
    padding: 5px 0 202px 90px