.main-registration
  background: #f6f6f6
  padding-top: 45px
  padding-bottom: 150px

.main-registration__title
  text-align: center
  font-size: 50px
  margin-bottom: 63px

.main-registration__stage
  font-family: 'Gilroy'
  font-weight: 400

.registration_stage-3
  margin-bottom: 53px

.main-registration__stage-4
  margin-bottom: 75px

.main-registration__stage-4 textarea
  display: block
  width: 100%
  background: #f9f9f9
  padding: 10px
  font-family: 'Lato',sans-serif
  color: #000
  outline: none
  resize: none

.registration_stage-4__traid
  display: block
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  color: #999
  margin-bottom: 5px
  font-weight: 700

.main-registration__stage-title
  font-weight: 400
  font-size: 26px
  display: block
  padding-left: 162px
  position: relative

.main-registration__stage-title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/stage-1-5.png) left no-repeat

.main-registration__stages-wrapper
  width: 900px
  padding-left: 23px
  box-sizing: border-box
  min-height: 250px
  margin: 0 auto
  input 
    font-weight: 600
    font-family: 'Lato',sans-serif
    line-height: 22px
  textarea
    line-height: 22px
.main-registration__dragndrop
  width: 100%
  border: 1px dashed #cccccc

.box__input
  padding-left: 263px
  padding-top: 104px

.drop-zone__wrapper
  width: 100%
  border: 1px dashed #cccccc
  min-height: 250px
  margin-bottom: 25px

.box__dragndrop
.box__uploading
.box__success
.box__error
  display: none



.box.has-advanced-upload .box__dragndrop
  display: inline


.box.is-dragover
  background-color: grey

.box.is-uploading .box__input
  visibility: none

.box.is-uploading .box__uploading
  display: block

.box__button
  display: none

.no-js .box__button
  display: block

.drop-zone__wrapper input
  display: none

.btn-drop
 padding: 13px 18px
 border: 1px solid #fecb2e
 font-weight: 700
 text-transform: uppercase
 font-size: 12px  

.registration_stage-2 label
  display: block
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  color: #999
  margin-bottom: 5px
  font-weight: 700
  letter-spacing: 1.3px

.main-registration__name-field
  box-sizing: border-box
  width: 378px
  min-height: 370px
  padding: 43px 45px 10px 44px
  background: #fff
  .main-registration__link-result
    padding-right: 0

.main-registration__name-field label
  display: block
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  color: #999999
  margin-bottom: 5px
  font-weight: 700
  letter-spacing: 1.3px

.registration-field--shop-name
  margin-bottom: 30px
  font-weight: 600
  font-family: 'Lato', sans-serif

.main-registration__link-wrapper
  display: flex
  align-items: baseline
  span 
    font-weight: 600

.main-registration__link-wrapper input
  flex-grow: 2
  margin-left: 5px
  font-weight: 600
  font-family: 'Lato', sans-serif
.main-registration__link-result
  word-break: break-all

.main-registration__logo-field
  width: 230px
  margin-left: 130px
  input[type="file"]
    display: none

.registration_stage-1__wrapper
  display: flex
  justify-content: center
  margin-bottom: 55px

.registration-logo-label
  display: block
  box-sizing: border-box
  width: 180px
  height: 180px
  border: 1px dashed #ccc
  border-radius: 50%
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  font-weight: 700px
  text-align: center
  padding-top: 100px
  background: url(../img/load-logo.svg) no-repeat top 38px center
  background-size: 32%
  margin-bottom: 10px

.registration-logo-label:hover
  border-color: #fdc500
  background: url(../img/load-logo-active.svg) no-repeat top 38px center
  background-size: 32%
  
.main-registration__logo-field span
  font-size: 13px
  font-weight: 400
  color: #999999
  margin: 0px 5px
span.main-registration__text-semibold
  font-weight: 600
  margin-top: 20px
  display: block
.registration-logo-label span
  font-weight: 700
  color: #000
.info
  color: #000 !important
  display: inline-block
  margin-top: 30px
  position: relative
  text-transform: initial
  font-weight: 600

.full-info
    color: #cccccc
    display: none
    padding: 10px
    padding-left: 17px
    padding-right: 5px
    font-size: 14px
    top: -90px
    left: -17px
    position: absolute
    box-sizing: border-box
    width: 230px
    height: 85px
    background:  url(../img/info-black.png) center no-repeat

.info:hover .full-info
    display: block

.main-registration__logo-field .btn
  padding: 10px 55px
  border: 1px solid #fecb2e
  display: block
  text-align: center
  max-width: 180px
  box-sizing: border-box
  margin: 10px 0px
  font-weight: 700


.main-registration__stage h3
  font-size: 26px
  font-weight: 300
  line-height: 22px
  display: block
  margin-bottom: 33px

.registration_stage-2__title
  padding-left: 162px
  position: relative

.registration_stage-2__title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/2_5.png) left no-repeat

.registration_stage-2 input[type="text"]
  height: 40px
  box-sizing: border-box
  border: 1px solid #999999
  border-radius: 4px
  padding-left: 10px
  padding-right: 50px
  background: url(../img/calendar.png) center right 15px no-repeat
  margin-right: 30px
  margin-bottom: 30px
  font-weight: 600
  font-family: 'Lato', sans-serif

.registration_stage-2
  margin-bottom: 59px

.registration_stage-2__data-wrapper
  background: #fff
  width: 100%
  padding: 35px 45px 45px 45px
  max-width: 740px
  box-sizing: border-box
  margin-left: 70px
  span
    font-size: 14px
    font-weight: 400
    color: #999999


.registration_stage-2__data-wrapper textarea
  display: block
  width: 100%
  background: #f9f9f9
  padding: 10px
  font-family: 'Lato', sans-serif
  color: #000
  outline: none
  resize: none
  border-radius: 4px
  border: 1px solid #dddddd
  background-color: #f9f9f9
  overflow: hidden
  line-height: 22px
  &:focus
    background: #fff
    border: 1px solid #999

.registration_stage-2__data-wrapper textarea:focus,
.registration_stage-4__pay-wrapper textarea:focus
  background: #fff
  border: 1px solid #999
  color: #000
.required
  color: #fecb2e !important
  font-size: 25px !important
  line-height: 0 !important

.checkbox--orange
  display: none

.label-checkbox--orange
  display: inline-block
  position: relative
  padding-left: 26px
  margin-bottom: 28px
  
.main-registration__stages-wrapper .label-checkbox--orange
  font-weight: 600
.checkbox--orange:not(checked)+.label-checkbox--orange:before
  content: ''
  top: 0
  left: 0
  position: absolute
  box-sizing: border-box
  width: 15px
  height: 15px
  background: #f9f9f9
  border: 1px solid #999999

.checkbox--orange:checked+.label-checkbox--orange:before
 content: ''
 top: 0
 left: 0
 position: absolute
 box-sizing: border-box
 width: 15px
 height: 15px
 background: #fecb2e
 border: none
 background-size: 70%

.registration_stage-3__pay-wrapper
  width: 100%
  max-width: 740px
  box-sizing: border-box
  margin-left: 70px
  display: flex
  flex-wrap: wrap
  padding-bottom: 20px
  background: #fff
  padding: 35px 45px 45px
  label
    display: block

.registration_stage-4-4__commercial .registration_stage-4-4__title:before
  content: ''
  top: 10px
  left: 42px
  position: absolute
  width: 30px
  height: 3px
  background: #fecb2e
.registration_stage-4-4__commercial-wrapper
  padding: 18px 45px 45px
  background: #fff
  display: flex
  flex-wrap: wrap

.main-registration__stage  p
  font-size: 14px
  color: #999999
  font-weight: 400
  padding-right: 100px
  line-height: 20px
  margin-bottom: 40px

.registration_stage-3__left
  margin-right: 80px

.registration_stage-3__title
  padding-left: 162px
  position: relative
.registration_stage-4-4__commercial .registration_stage-4-4__title
  padding-left: 85px
.registration_stage-3__title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/3_5.png) left no-repeat

.registration_stage-4__pay-wrapper
  width: 100%
  max-width: 740px
  box-sizing: border-box
  margin-left: 70px
  p
    margin-bottom: 40px
.main-registration .registration_stage-4__pay-wrapper
  background: #fff;
  width: 100%;
  max-width: 740px;
  box-sizing: border-box;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  padding: 18px 45px 35px;
.registration_stage-4-4__commercial-wrapper
  padding: 18px 45px 20px
  padding-bottom: 35px
  display: flex
  flex-wrap: wrap
  box-sizing: border-box
  background: #fff
.registration_stage-4__left
  display: flex
  flex-wrap: wrap
  width: 45%
  padding-top: 10px
  .label-checkbox--orange
    margin-right: 0
.personal__menu-item--active
  background-color: rgba(254, 203, 46, 0.1)
.registration_stage-4__left .label-checkbox--orange
  width: 100%
  margin-bottom: 46px
.delivery-price
  background: #f9f9f9
  border: 1px solid #dddddd
  box-sizing: border-box
  width: 100px
  height: 40px
  border-radius: 5px
  color: #000
  padding: 0px 10px
  margin-right: 10px
  margin-bottom: 20px
.registration_stage-4__right.registration_stage-4__right--small
  padding-top: 0px
.registration_stage-4__right.registration_stage-4__right--small .label-checkbox--orange
  margin-bottom: 12px
  margin-top: 12px
.delivery-price:disabled
  border: none
  font-size: 0px
.delivery-price:focus
  color: #000
.registration_stage-4__right
  display: flex
  flex-wrap: wrap
  align-items: baseline
  width: 19%
  justify-content: flex-end
  padding-left: 40px
  .info
    margin-top: 0px
.registration_stage-4__right .label-checkbox--orange
  margin-right: 0px
.valuta
  display: inline-block
.delivery-price:disabled + .valuta
  display: none
.delivery-price:disabled
  margin-right: 20px
.label-checkbox--grey
  color: #999999
  font-size: 14px
.fade
  opacity: 0
.registration_stage-4__right--small
  display: flex
  padding-left: 35px
  padding-top: 10px
.registration_stage-4__title
  padding-left: 162px
  position: relative
.registration_stage-4__title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/4_5.png) left no-repeat
.registration_stage-5
  margin-bottom: 40px
.registration_stage-5__contact-information
  background: #fff
  width: 100%
  max-width: 740px
  box-sizing: border-box
  margin-left: 70px
  display: flex
  flex-wrap: wrap
  padding: 18px 45px 20px
  input
    width: 350px
    box-sizing: border-box
    margin-bottom: 30px
.registration_stage-5 label
  display: block
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  color: #999
  margin-bottom: 5px
  width: 100%
  font-weight: 700
  letter-spacing: 1.3px

.registration_stage-5__title
  padding-left: 162px
  position: relative

.registration_stage-5__title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/5_5.png) left no-repeat

.main-registration__submit-wrapper
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-top: 50px
  padding-left: 45px
  justify-content: flex-start
.main-registration__submit-wrapper .btn-underlining
  margin-top: 25px
.main-registration__submit-wrapper .main-registration__btn
  margin-top: 25px
.main-registration__submit-wrapper input[type="checkbox"]
  display: none

.main-registration__submit-wrapper label
  font-family: 'Gilroy'
  font-size: 14px
  line-height: 22px
  color: #999
  display: inline-block
  position: relative
  padding-left: 30px
  width: 69%
  margin-bottom: 50px
  a
    text-decoration: none
    color: #000

.main-registration__submit-wrapper .checkbox:not(checked)+label:before
  content: ''
  top: 0
  left: 0
  position: absolute
  width: 15px
  height: 15px
  border: 1px solid #ddd

.main-registration__submit-wrapper .checkbox:checked+label:after
  content: ''
  top: 0
  left: 0
  position: absolute
  width: 15px
  height: 15px
  border: 1px solid #ddd
  background: #fecb2e
  background-size: 70%

.main-registration__btn
  font-size: 12px
  font-family: 'Gilroy'
  color: #000
  font-weight: 700
  line-height: 22px
  padding: 22px 34px 22px 43px
  background: #fdc500
  letter-spacing: 1px
  text-transform: uppercase
  border: none
  margin-right: 18px

.btn-underlining
  font-size: 16px
  border: none
  font-family: 'Lato', sans-serif
  background: none
  border-radius: 0px
  padding-bottom: 5px
  border-bottom: 4px solid #fecb2e
  padding-top: 20px
  height: 45px
  &:hover
    background: none

.main-registration__name-field--master .registration-field
  margin-bottom: 28px
  

.registration_stage-1__wrapper--wrap
  flex-wrap: wrap
  .main-registration__name-field
    margin-left: 15px

.registration_stage-1__more-info
  background: #fff
  width: 100%
  padding: 35px 45px 45px
  max-width: 740px
  box-sizing: border-box
  margin-top: 25px
  padding-right: 215px
  select
    background: #ffffff
  input
    margin-bottom: 30px
  input:valid
    background: #fff
  label
    margin-bottom: 5px
    display: inline-block
    display: block
    font-size: 12px
    font-family: 'Gilroy'
    text-transform: uppercase
    color: #999
    font-weight: 700
    letter-spacing: 1.3px

  p
    padding-right: 0px

  .registration-field--short
    width: 208px
    box-sizing: border-box
    flex-grow: 0
    margin-bottom: 25px
    font-weight: 600
    background-color: #f9f9f9 
    &:focus 
      background-color: #fff
  .main-registration__link-result
    margin-top: 0px
    margin-bottom: 30px

.date-select
  height: 40px
  box-sizing: border-box
  border: 1px solid #999
  border-radius: 4px
  padding-left: 10px
  padding-right: 50px
  background:  #f9f9f9 url(../img/calendar.png) center right 15px no-repeat !important
  margin-right: 0px
  margin-bottom: 30px
  &:focus
    background:  #fff url(../img/calendar.png) center right 15px no-repeat !important
#date-of-birth 
  margin-bottom: 45px
  
.yandex-wallet
  position: relative

.yandex-wallet:before
  content: ''
  top: 10px
  left: 200px
  position: absolute
  width: 50px
  height: 50px
  background: url(../img/wallet.png) right no-repeat

.registration_stage-2__textarea
  font-size: 16px
  margin-bottom: 50px

.main-registration__stage-title--1-4:before
  background: url(../img/1_4.png) left no-repeat

.main-registration__stage-title--2-4:before
  background: url(../img/2_4.png) left no-repeat

.main-registration__stage-title--3-4:before
  background: url(../img/3_4.png) left no-repeat

.registration_stage-4-4__title
  position: relative
  padding-left: 162px

.registration_stage-4-4 label
  display: block
  font-size: 12px
  font-family: 'Gilroy'
  color: #999
  margin-bottom: 5px
  width: 100%
  position: relative
  font-weight: 600

.registration_stage-4-4 .label-checkbox--orange
  margin-bottom: 28px
  color: #000

.registration_stage-4-4__title:before
  content: ''
  top: -7px
  left: 72px
  position: absolute
  width: 100px
  height: 40px
  background: url(../img/4_4.png) left no-repeat

.radio-wrapper
  width: 100%
  max-width: 740px
  box-sizing: border-box
  margin-left: 70px
  display: flex
  flex-wrap: wrap
  padding: 18px 45px 20px

.registration_stage-4-4 .radio-label
  display: inline-block
  color: #000
  width: auto
  margin-right: 20px
  padding-left: 20px

.registration_stage-4-4 input[type="radio"]
  display: none

.registration_stage-4-4 input[type="radio"]:not(checked)+label:before
  content: ''
  top: 0
  left: 0
  position: absolute
  box-sizing: border-box
  width: 14px
  height: 14px
  background: none
  border: 1px solid #9b9b9b
  border-radius: 50%

.registration_stage-4-4 input[type="radio"]:checked+label:before
  background: #fecb2e
  border: none
  border-radius: 50%

.registration_stage-2__specialization-wrapper
  width: 100%
  min-height: 100px
  border: 1px solid #999
  padding: 10px
  margin-bottom: 10px
  border-radius: 4px
  border: 1px solid #999999
 

.specialization-label
  display: inline-block 
  width: auto
  font-size: 16px
  line-height: 15px
  font-family: 'Lato',sans-serif
  border-radius: 20px
  padding: 11px 39px 12px 15px
  background: #fecb2e
  color: #000 !important
  margin-right: 10px
  font-weight: 400
  position: relative
  cursor: pointer
  &:before
    content: 'x'
    position: absolute
    right: 20px
    top: 11px
    font-size: 17px
.registration_stage-2__specialization-wrapper .specialization-label
  display: inline-block 
  font-size: 16px
  text-transform: none
  font-weight: 600
.specialization-popup_open
  font-size: 12px
  font-family: 'Gilroy'
  text-transform: uppercase
  color: #000
  border: 2px solid #fdc500
  border-radius: 5px
  width: 230px
  height: 45px
  box-sizing: border-box
  padding-top: 15px
  text-align: center
  display: block
  margin-top: 15px
  font-weight: 700
  letter-spacing: 0.7px

.specialization-type-popup
  font-family: 'Lato',sans-serif
  display: flex
  flex-wrap: wrap
  span
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 700
    margin-bottom: 25px

.art-wrapper
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin-right: 60px

.specialization__wrapper
  display: flex
  flex-wrap: wrap
  .label-checkbox--orange
    margin-bottom: 15px
    font-family: 'Lato',sans-serif

.registration_stage-4-4 .registration_stage-3__pay-wrapper
  margin-bottom: 50px

.registration_stage-4-4 .registration_stage-4__pay-wrapper
  margin-bottom: 50px

.btn-specialization
  width: 190px
  height: 45px
  background: #fecb2e
  border-radius: 5px
  border: 1px solid #fecb2e
  margin: 0px auto

.registration_stage-4__pay-wrapper textarea 
  border-radius: 4px
  border: 1px solid #dddddd
  background-color: #f9f9f9

.portfolio .main-registration__submit-wrapper
  justify-content: left
  padding-top: 10px
.portfolio-wrapper .portfolio .main-registration__btn
  margin-left: 119px
  padding: 22px 81px 22px 81px

.portfolio .main-registration__name-field--master p 
  padding-right: 0px

.main-registration__name-field--master
  padding-right: 30px
.main-registration__submit--neprod
  margin-left: 60px
  margin-right: 45px
  padding-top: 20px
  padding-left: 57px
  .main-registration__btn
    width: 100%
    text-align: left
    position: relative
    background: #fdc500 url(../img/long-arrow.png) no-repeat right 45px center
.specialization-type-popup__header
  padding-left: 20px
  border-bottom: 1px solid #eee
  width: 100%
  h3
    font-family: "Gilroy"
    font-size: 26px
    font-weight: 400
.specialization-type-popup.white-popup
  padding: 0px
.specialization-type-popup-wrapper
  padding: 20px
  width: 100%

button.mfp-close.mfp-close
  top: 40px
  right: 50px
  font-size: 40px
  font-weight: 600
  color: #000
.btn-specialization 
  width: auto
  height: auto
  background: #fecb2e
  border-radius: 5px
  border: 1px solid #fecb2e
  margin: 0 auto
  float: right
  padding: 25px 35px
  font-weight: 600

:-ms-input-placeholder 
    color: #ccc !important;
    font-weight: 400 !important;

.specialization-type-popup button.mfp-close.mfp-close
  top: 20px
.radio-wrapper--commercial
  padding: 7px 45px 20px
.radio-wrapper .radio-wrapper__commercial-option
  font-weight: 700
  letter-spacing: 1.3px
  font-size: 12px
  text-transform: uppercase
  margin-bottom: 12px
.radio-wrapper--commercial label
  font-size: 16px
  font-weight: 400
  text-transform: initial
.radio-wrapper--commercial .radio-label
  margin-right: 40px
  margin-left: 5px
.main-registration__stage.registration_stage-4-4 .registration_stage-4-4__commercial
  background: transparent 
  padding: 0
  margin-top: 10px
  margin-bottom: 0
.registration_stage-4-4 .label-checkbox--orange
  text-transform: initial
  font-size: 16px
  font-weight: 600

.registration_stage-4-4__commercial .label-checkbox--grey
  font-size: 14px
  color: #999
.registration_stage-4-4__title--commercial
  margin-bottom: 26px
.registration_stage-4__paymant-commercial p
  margin-bottom: 45px
.main-registration__submit-wrapper .main-registration__btn
  text-transform: initial
  font-size: 16px
  letter-spacing: 0px
  padding: 24px 23px 24px 37px
.main-registration__submit-wrapper--shop
  padding-left: 115px
  padding-top: 0px
  label
    margin-bottom: 25px
.registration_stage-3__pay-wrapper--shop
  padding-top: 13px
  padding-bottom: 20px
  .registration_stage-3__left
    margin-right: 52px
  p 
    margin-bottom: 45px
  .registration_stage-4__traid
    margin-top: 12px
    margin-left: 8px
    letter-spacing: 1.2px
.main-registration__stage-4--shop
  margin-bottom: 63px
  .registration_stage-4__traid
    margin-top: 12px
    margin-left: 8px
    letter-spacing: 1.2px
.registration-field--patronymic
  margin-bottom: 15px
.main-registration .main-registration__name-field--master p 
  padding-right: 0
  margin-bottom: 20px
  margin-top: 0
.registration_date-field,
.shop-link__field
  background-color: #f9f9f9 !important
  border: 1px solid #ddd !important
  outline: none
  &:focus
    background-color: #fff !important
    border: 1px solid #999 !important
.main-registration .main-registration__logo-card
  margin-top: 30px
main .main-registration__logo-resolution
  margin: 0px
.registration_stage-1__more-info--master
  padding: 40px 165px 40px 54px
  .registration-field--nickname
    width: 415px
  .shop-link__field
    margin-bottom: 5px
  .registration_stage-1--description
    margin-bottom: 0
.registration_stage-2--master
  margin-bottom: 55px
  .registration_stage-2__textarea
    margin-bottom: 25px
  .registration_stage-2__data-wrapper
    padding-right: 63px
  .registration_stage-2__specialization-wrapper
    min-height: 80px
  .specialization-popup_open
    margin-top: 10px
.registration_stage-5--master
  h3
    margin-bottom: 30px
  .registration_stage-5__contact-information
    padding-top: 35px
  .registration-field__phone
    width: 200px
.registration_stage-4-4--master
  .registration_stage-4-4__title
    margin-top: 60px
  .radio-wrapper--commercial .radio-label
    margin-left: 0px
  .main-registration__btn
    margin-top: 38px
    width: 650px
    
